### 1. Date & time series functionality

    The key to this are data types tailored to managing date and time information. 
    
    These data types represent either points in time, or periods of time. 
    
    They have attributes and methods that allow you to access and manipulate the time dimension of your data. 
    
    Any column can contain date or time information, but it is most important as a DataFrame index, 
    because this converts the entire DataFrame into a time series.


You will also learn to use many DataFrame methods that leverage date information stored in the index.

<img src="use_dates_and_time.jpg">

### 1. Working with Time Series in Pandas

In [2]:
##IMPORTING PACKAGES

import numpy as np
import pandas as pd
from datetime import datetime #manual create dates

In [4]:
tp = pd.Timestamp(datetime(2023,5,25))

In [5]:
tp

Timestamp('2023-05-25 00:00:00')

In [10]:
print(tp.day , tp.day_name(),tp.month , tp.month_name())

25 Thursday 5 May

In [12]:
## sequence of date and time

index = pd.date_range(start='2018-01-01',freq='M',periods=12)

In [13]:
index

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [19]:
data = np.random.randint(100,size=(12,2))

In [20]:
data

array([[78, 19],
       [26, 62],
       [31,  5],
       [44, 18],
       [67, 95],
       [30, 34],
       [18, 60],
       [19, 37],
       [62, 19],
       [26, 86],
       [35, 26],
       [37, 66]])

In [21]:
index[0]

Timestamp('2018-01-31 00:00:00', freq='M')

In [22]:
pd.DataFrame(data=data,index=index)

             0   1
2018-01-31  78  19
2018-02-28  26  62
2018-03-31  31   5
2018-04-30  44  18
2018-05-31  67  95
2018-06-30  30  34
2018-07-31  18  60
2018-08-31  19  37
2018-09-30  62  19
2018-10-31  26  86
2018-11-30  35  26
2018-12-31  37  66

In [24]:
seven_days = pd.date_range(start='2017-1-1',freq='D',periods=7)

In [31]:
for days in seven_days:
    print(days.day_of_week,days.day_name())

6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday